@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

:root {
    --cor-principal: #b4b5ff;
    --cor-secundaria: #cf88ff;
    --cor-texto: #180158;
    --cor-de-fundo: #b8dfa2;
    --font:"Sofadi One", system-ui;
}
body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}
.cabecalho{
    background-color: var(--cor-secundaria);
    text-align: center;
}
.cabecalho__titulo{
    font-size: 2rem;
    color: var(--cor-texto);
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}