@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
:root {
    --cor-principal: #9a9bff;
    --cor-secundaria: #396eff;
    --cor-texto: #521aee;
    --cor-de-fundo: #b8dfa2;
    --font:"Sofadi One", system-ui;
}
body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}
.cabecalho{
    background-color: var(--cor-secundaria);
    text-align: center;
}
    